.Article {
  background-color: #f9fafa;
}

.displayCard__contents {
  display: flex;
}

.flightIcon {
  height: 30px;
  width: 30px;
}

.displayCard {
  width: 260px;
  height: 240px;
  margin: 16px;
}
